@model MVC_Entity_Framework.Models.LocalStorageUser

<h1>Se creo la cuenta</h1>
<div>
    <a asp-action="CrearArt">Crear articulos</a>
</div>
<div>
    <a asp-action="Index">Ver todos articulos</a>
</div>


<script>
    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    
    console.log(data)
    localStorage.setItem('token', data.Token)
    localStorage.setItem('rol', data.Rol)
    localStorage.setItem('userid', data.UserId)
</script>